.wrap{
  .timing_caution{
    strong{
      color:red;
    }
  }

  .authorize_caution+table,.type_caution+table{
    th{
      width: 100px;
    }
  }

  .timing_caution+table{
    th{
      display: none;
    }
  }

  .permalink_caution{
    strong{
      color:red;
    }
  }

  .type_caution+table{
    td{
      label{
        &:not(:first-child){
          margin-left: 20px;
        }
      }
    }
  }
	.authorize_caution+table{
    th{
      display: none;
    }
  }
  .regist{
		display: none;

		p{
			strong{
				color:red;
			}
		}
		table{
			th{
				display:block;
			}
		}
		
	}
}

#api_check{
	position: relative;
	&:hover{
		cursor: pointer;
	}
	&.checking{
		padding-right: 3rem;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0.5rem;
			width: 1.5rem;
			height: 1.5rem;
			background: transparent url('../img/transloading.gif') no-repeat center center / cover;
		}
	}
  
}